/* Estilos para el contenido */

body {
    background-color: #fff;
    width: 100%;
}

.hero {
    background: #efeee5;
    padding: 1em 0;
    margin-bottom: 2em;
    text-align: center;
}


/* Estilos para el menú principal */

ul.active-option li a {
    border-radius: 10px;
}

ul.active-option li a:hover {
    background: #9FA6B2;
    border-radius: 10px;
}


/* Estilos para el carrusel (slider) */

.image-slider {
    height: 200px; 
    width: 100%;
}


/* Estilos para input y select */

.select {
    border-radius: .3em;
}

.select:hover {
    border-color: #007bff;
}


/* Estilos para las pestañas (tab) */

.link-tabs {
    position: relative;
}

.menu-tab {
    list-style-type: none;
    text-align: left;
    padding: 20px;
}

.menu-tab li {
    border-radius: 15px;
}

.menu-tab li a {
    border-radius: 15px;
}

.tabs {
    padding: 20px;
}

.content-tab {
    display: none;
    border: 2px solid;
    border-style: outset;
    padding: 10px;
    box-shadow: inset 15px 15px 15px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 3px rgba(0,0,0,.1);
}


/* Estilos para la calculadora */

.text-calc {
    letter-spacing: 0.1em; 
}

.btn-calc {
    width: 50px;
    height: 35px;
    font-size: 0.8em;
}


/* Estilos hr */
.separator {
    border: 2px solid #A9A9A9; /* Grosor y color */
    width: 100%;           /* Ancho */
    margin: 20px auto;    /* Centrar y espaciar */
}


/* Estilos enlaces */
.hover {
    text-decoration: none;
}

.hover:hover {
    text-decoration: underline;
}