/* Estilos para la calculadora */

.div-logic-calc {
    border-style: solid; 
    border-width: 1px; 
    width: 350px; 
    padding:10px; 
    background: #fafafa;

    -webkit-box-shadow: 11px 7px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 7px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 7px 19px 0px rgba(0,0,0,0.75);

    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #000000;
}

.table-calc {
    width: 100%;
    position: relative; 
}

.text-calc {
    letter-spacing: 0.1em; 
}

.btn-calc {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
    font-weight: bold;
}